<div id="current" class="tab-pane">
	<ul class="list-group" style="box-shadow: 2px 5px 10px #888888;">
		<li class="list-group-item" ng-repeat="t in tasks">
			<input type="text" placeholder="{{t.dbTaskField}}" ng-model="taskfield" ng-show="toggleEdit" required/>
			<input type="checkbox" ng-model="checkboxValue" ng-change="toggleComplete(t.id)" style="margin: 0 10px 0 0" ng-hide="toggleEdit" />
			<span ng-bind="t.dbTaskField" ng-hide="toggleEdit">
			<!-- {{t.dbTaskField}} -->
			</span>
			<span class="pull-right">
				<button class="btn btn-xs btn-warning" ng-click="toggleEdit = false" ng-show="toggleEdit">Cancel</button>
				<button class="btn btn-xs btn-success" ng-click="editTask(t,taskfield); toggleEdit = false" ng-show="toggleEdit">Save</button>
				<button class="btn btn-xs btn-success" ng-click="toggleEdit = true" ng-hide="toggleEdit">Edit</button>
				<button class="btn btn-xs btn-danger">
					<span id="trash" ng-click="singleDelete(t)" class="glyphicon glyphicon-trash"></span>
				</button>
			</span>
		</li>
	</ul>
</div>


<style>
	#trash {
		color: white;
	}

	ul li {
		list-style: none;
		margin: none;

	}
</style>