<div id="completed" class="tab-pane">
	<ul class="list-group" style="box-shadow: 2px 5px 10px #888888;">
		<li class="list-group-item" ng-repeat="c in completedTasks">
		{{c.dbTaskField}}
		</li>
		<li class="list-group-item" ng-hide="completedTasks.length">NOTHING TO DELETE !</li>
	</ul>
	<span class="pull-right" ng-show="completedTasks.length">
			<button class="btn btn-danger" ng-click="purgeDelete()">Delete Completed</button>
	</span>
</div>


<style>
	ul li {
		list-style: none;
		margin: none;

	}
</style>